.sideNav{
    ul{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;
        padding: 1rem 2rem;
        box-sizing: border-box;
        border: 1px solid #000;
        background: #fff;
        li{
            a{
                &.active{
                    color: #00ff00;
                    font-weight: bold;
                }
            }
        }
    }
}


