@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
body{font-family: 'Poppins','Nanum Gothic Coding', 'Noto-sans', serif ;}

//반응형 사이즈
$mobile-max: 360px;
$phone-max: 768px;
$tablet-max: 1024px;
$desktop-min: 1440px;

@mixin mobile{
    @media (max-width: $mobile-max) {
        @content;
    }
} 
@mixin phone{
    @media (max-width: $phone-max) {
        @content;
    }
} 
@mixin tablet{
    @media (max-width: $tablet-max) {
        @content;
    }
} 
@mixin desktop{
    @media (max-width: $desktop-min){
        @content;
    }
}


.App{
    position: relative;
    //Header
    .Header{
        ul{
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100000000;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 4rem;
            padding: 1rem 2rem;
            box-sizing: border-box;
            border: 1px solid #000;
            background: #fff;
            li{
                cursor: pointer;
                a{
                    font-size: 2.5rem;
                    &.active{
                        color: #47DA5C;
                        font-weight: bold;
                    }
                }
            }
            .mode{
                font-size: 2.5rem;
                line-height: 1.5;
            }
        }
    }
    //Cover
    .Cover{
        font-family: 'Noto-sans';
        width: 100%;
        height: 100vh;
        padding: 3rem;
        box-sizing: border-box;
        position: relative;
        .cover-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .title{
                flex-basis: 25%;
                border-bottom: 1px solid #000;
                line-height: 2;
                h1{
                    font-size: 15rem;
                }   
            }
            .year{
                flex-basis: 25%;
                border-bottom: 1px solid #000;
                line-height: 1.5;
                h2{
                    font-size: 15rem;
                }
            }
            .cover-arrow{
                flex-basis: 50%;
                width: 100%;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                .arrow-down{
                    font-size: 32rem;
                    animation: arrowMove 1s infinite alternate ease-in-out;
                    position: absolute;
                    bottom: -5rem;
                    right: 2rem;
                    @keyframes arrowMove {
                        0% {transform: translateY(0);}
                        100% {transform: translateY(10px);}
                    }
                }
            }
        }
    } 
    //about
    .About{
        width: 100%;
        height: 100vh;
        .container{
            width: 100%;
            height: 100%;
            padding: 0 2rem; 
            box-sizing: border-box;
            display: flex;
            .about-left{
                width: 100%;
                display: flex;
                flex-basis: 30%;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
                padding: 5rem;
                box-sizing: border-box;
                border-right: 1px solid #000;
                .about-img{
                    width: 100%;
                    img{width: 100%;}
                }
                .about-info{
                    text-align: right;
                    border-bottom: 1px solid #000;
                    p{
                        font-size: 2.5rem;
                    }
                }
            }
            .about-right{
                display: flex;
                flex-direction: column;
                flex-basis: 70%;
                padding: 0 2rem;  
                box-sizing: border-box;
                position: relative;
                .about-top{
                    flex-basis: 20%;
                    .about-title{
                        font-size: 10rem;
                        margin-top: 10rem;
                        border-bottom: 1px solid #000;
                    }
                }
                .about-bottom{
                    flex-basis: 80%;
                    display: flex;
                    .about-explain{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 3rem;
                        box-sizing: border-box;
                        p{
                            font-size: 2rem;
                        }
                        &:nth-child(1){
                            flex-basis: 40%;
                            gap: 2rem;
                            .explain{
                                border-bottom: 1px solid #000;
                            }
                            .ex-top{}
                            .ex-center{
                                margin-top: 10rem;
                            }
                            .ex-bottom{}
                        }
                        &:nth-child(2){
                            flex-basis: 60%;
                            gap: 7rem;
                            justify-content: center;
                            .about-skill{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                h3{
                                    font-size: 2.5rem;
                                    font-weight: 400;
                                }
                                .skills-img{
                                    display: flex;
                                    flex-wrap: wrap; 
                                    justify-content: space-evenly;
                                    gap: 0.3rem;
                                    padding: .5rem 0;
                                    box-sizing: border-box;
                                    border-bottom: 1px solid #000;
                                    img{
                                        width: 13%; 
                                        &:hover{transform: scale(1.1);}
                                    }
                                    .bounce-img {
                                        &:hover {animation: bounceAnimation .3s infinite alternate;}
                                    }
                                    @keyframes bounceAnimation {
                                        from {transform: translateY(0);}
                                        to {transform: translateY(-10px);}
                                    }
                                }
                            }
                            .about-etc{
                                border-bottom:1px solid#000 ;
                            }
                        }
                    }
                }
            }
        }
    }
    //project
    .Project{
        width: 100%;
        height: 100vh;
        .container{
            width: 100%;
            height: 100%;
            padding: 3rem 5rem;
            box-sizing: border-box;
            .title{
                font-size: 10rem;
                margin-top: 2.5rem;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }
            .mySwiper{
                width: 100%;
                display: flex;
                align-items: center;
                padding: 5.5rem 0;
                box-sizing: border-box;
                .project-item{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                    border-right: 1px solid #000 ;
                    padding: 0 8rem;
                    box-sizing: border-box;
                    .project-img{
                        height: 37vh;
                        overflow-y: scroll;
                        img{
                            width: 100%;
                        }
                    }
                    ::-webkit-scrollbar-thumb{background:#8ab4f8; border-radius: 10px;}
                    .project-info{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        h3{
                            font-size: 3rem;
                            text-align: center;
                            padding: 1.5rem 0;
                            box-sizing: border-box;
                        }
                        p{
                            font-size: 2rem;
                            border-bottom: 1px solid #000;
                            padding-bottom: 1rem;
                            box-sizing: border-box;
                            text-align: center;
                        }
                        .project-skills{
                            width: 100%;
                            display: flex;
                            gap: 1.5rem;
                            justify-content: center;
                            margin: 8px 0;
                            img{width: 4rem;}
                        }
                        .more-btn{
                            font-size: 2rem;
                            background: transparent;
                            color: #000;
                            text-align: center;
                            padding: 1rem;
                            border: 1px solid #000;
                            box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
                            &:hover{
                                background: #47DA5C;
                                color: #fff;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }    
    //contact
    .Contact{
        width: 100%;
        height: 100vh;
        .container{
            width: 100%;
            height: 90%;
            padding: 3rem 2rem 0 2rem;;
            box-sizing: border-box;
            display: flex;
            .contact-left{
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                position: relative;
                .contact-title{
                    font-size: 10rem;
                }
                .contact-qr{
                    width: 20rem;
                    height: 20rem;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    img{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        z-index: 99999;
                    }
                }
                .hover{
                    position: absolute;
                    top: 21%;  //위치 수정하기
                    left: 45%;
                    opacity: 0;
                    img{
                        animation: spin 20s infinite linear;
                    }
                    
                    @keyframes spin {
                        from {transform: rotate(0deg);}
                        to {transform: rotate(360deg);}
                    }
                }
                .contact-qr:hover + .hover {
                    opacity: 1;
                }
                .contact-info{
                    p{font-size: 1.7rem;}
                }
            }
            .contact-right{
                display: flex;
                flex-basis: 50%;
                flex-direction: column;
                padding: 10rem 7rem 6rem 0;
                box-sizing: border-box;
                .contact-form{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 7rem;
                    box-sizing: border-box;
                    border: 1px solid #000;
                    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
                    .title{
                        h4{
                            text-align: center;
                            font-size: 5rem;
                        }
                    }
                    .info{
                        label{
                            width: 100%;
                            font-size: 2rem;
                        }
                        input{
                            width: 100%;
                            margin-top: 1rem;
                            padding: 1rem;
                            box-sizing: border-box;
                            border: none;
                            border-bottom: 1px solid #000;
                            outline: none;
                        }
                        textarea{
                            width: 100%;
                            height: 25rem;
                            resize: none;
                            margin-top: 30px;
                            padding: 1rem;
                            box-sizing: border-box;
                            border: none;
                            border: 1px solid #000;
                            outline: none;
                        }
                    }
                    button{
                        font-size: 1.7rem;
                        background: transparent;
                        margin: 0 auto;
                        padding: 1rem 2rem;
                        border: 1px solid #000;
                        color: #000;
                        &:hover{
                            background: #47DA5C;
                        }
                    }
                }
            }
        }
        .flowText{
            width: 100%;
            height: 10%;
        }
    }  
    //cursor
    .custom-cursor{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #47DA5C;
        position: fixed;
        z-index: 999;
    }
    .circle{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #47DA5C;
        position: fixed;
        z-index: 998;
    }
    .QuickButton{
        position: fixed;
        bottom: 5%;
        right: 24px;
        z-index: 101;
        .quick_top{
            width: 56px;
            height: 56px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            background: #47DA5C;
            .quick-arrow{
                color: #fff;
                font-size: 35px;
            }
        }
    }

    @include tablet{
        .Cover{
            .cover-container{
                .year{
                    line-height: 2;
                }
            }
        } 
        .Header{
            ul{
                gap: 2rem;
            }
        }
        .About{
            .container{
                .about-left{
                    padding: 2rem;
                }
                .about-right{
                    .about-top{
                        .about-title{
                            font-size: 15rem;
                            margin-top: 12rem;
                        }
                    }
                }
            }
        }
        .Project{
            .container{
                .mySwiper{
                    padding-top: 10rem;
                    box-sizing: border-box;
                }
            }
        } 
        .Contact{
            .container{
                padding: 6rem 2rem 0 2rem;
                .contact-left{
                    .contact-qr{
                        width: 16rem;
                        height: 16rem;
                    }
                    .hover{
                        top: 25%;  
                        left: 38%;
                    }
                    .contact-info{
                        p{font-size: 1.4rem;}
                    }
                }
                .contact-right{
                    padding: 3rem 2rem;
                    .contact-form{
                        padding: 7rem;
                        box-sizing: border-box;
                        border: 1px solid #000;
                        .info{
                            label{
                                width: 100%;
                                font-size: 2rem;
                            }
                            input{
                                width: 100%;
                                margin-top: 1rem;
                                padding: 1rem;
                                box-sizing: border-box;
                                border: none;
                                border-bottom: 1px solid #000;
                                outline: none;
                            }
                            textarea{
                                height: 45rem;
                                margin-top: 3rem;
                            }
                        }
                    }
                }
            }
        } 
    } 

    @include phone{
        .Cover{
            height: 100%;
            .cover-container{
                .title{
                    flex-basis: 0; 
                    h1{
                        font-size: 12rem;
                        line-height: 2;
                    }   
                }
                .year{
                    flex-basis: 0;
                    h2{
                        font-size: 12rem;
                        line-height: 2;
                    }
                }
                .cover-arrow{
                    flex-basis: 150px;
                    .arrow-down{
                        font-size: 24rem;
                        bottom: 0;
                    }
                }
            }
        } 
        .About{
            height: 100%;
            margin-top: 15rem;
            .container{
                padding: 3rem;
                .about-left{
                    padding: 3rem;
                }
                .about-right{
                    .about-top{
                        .about-title{
                            font-size: 10rem;
                            margin-top: 0;
                        }
                    }
                    .about-bottom{
                        flex-basis: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 5rem;
                        .about-explain{
                            &:nth-child(2){
                                .about-skill{
                                    .skills-img{
                                        img{
                                            width: 6%; 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .Project{
            height: 100%;
            .container{
                padding: 3rem;
                .mySwiper{
                    padding-top: 15rem;
                    .project-item{
                        .project-info{
                            gap: 2rem;
                            h3{
                                padding: 3rem 0;
                            }
                            p{
                                padding-bottom: 1rem;
                                font-size: 1rem;
                            }
                            .project-skills{
                                justify-content: center;
                                align-items: center;
                                gap: 1rem;
                                img{width: 5rem;}
                            }
                            .more-btn{
                                padding: 1rem;
                            }
                        }
                    }
                }
            }
        } 
        .Contact{
            height: 100%;
            margin-top: 12rem;
            margin-bottom: 5rem;
            .container{
                height: 100%;
                padding: 3rem 3rem 5rem 3rem;;
                flex-direction: column;
                gap: 7rem;
                .contact-left{
                    flex-basis: 0;
                    gap: 5rem;
                    .contact-qr{
                        width: 25rem;
                        height: 25rem;
                        box-shadow: none;
                    }
                }
                .contact-right{
                    flex-basis: 0;
                    padding: 0 10rem 5rem 10rem;
                    .contact-form{
                        padding: 10rem;
                    }
                }
            }
        } 
    }

    @include mobile{
        .Contact{
            .container{
                .contact-right{
                    padding: 3rem;
                }
            }
        } 

        .custom-cursor{
            display: none;
        }
        .circle{
            display: none;
        }
        .QuickButton{
            right: 2%;
            .quick_top{
                width: 30px;
                height: 30px;
                .quick-arrow{
                    font-size: 19px;
                }
            }
        }
    }
}


/*light mode */
.light {
    background-color: white;
    color: black;
}

/*dark mode */
.dark{
    background: #282c34;  
    color: white;
    position: relative;
    .Header{
        ul{
            border: 1px solid #949494 !important;
            background: #282c34;
            li{
                a{
                    color: #fff;
                    &.active{
                        color: #8ab4f8;;
                    }
                }
            }
        }
    }
    //Cover
    .Cover{
        .cover-container{
            border-bottom: 1px solid #949494 !important;
            .title{
                border-bottom: 1px solid #949494 !important;
            }
            .year{
                border-bottom: 1px solid #949494 !important;
            }
        }
        .cover-arrow{
            border-right: 1px solid #949494 !important;
            
        }
    } 
    //about
    .About{
        .container{
            .about-left{
                border-right:  1px solid #949494 !important;
                .about-info{
                    border-bottom:  1px solid #949494 !important;
                }
            }
            .about-right{
                .about-top{
                    .about-title{
                        border-bottom: 1px solid #949494 !important;
                    }
                }
                .about-bottom{
                    .about-explain{
                        &:nth-child(1){
                            .explain{
                                border-bottom: 1px solid #949494 !important;
                            }
                        }
                        &:nth-child(2){
                            .about-skill{
                                .skills-img{
                                    border-bottom: 1px solid #949494 !important;
                                }
                            }
                            .about-etc{
                                border-bottom: 1px solid #949494 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    //project
    .Project{
        .container{
            .title{
                border-bottom: 1px solid #949494 !important;
                border-top: 1px solid #949494 !important;
            }
            .mySwiper{
                .project-item{
                    border-right: 1px solid #949494 !important;
                    .project-img{
                        height: 37vh;
                        overflow-y: scroll;
                        img{
                            width: 100%;
                        }
                    }
                    ::-webkit-scrollbar-thumb{background:#8ab4f8 !important;}
                    ::-webkit-scrollbar-track{background: #282c34 !important}
                    .project-info{
                        p{
                            border-bottom: 1px solid #949494 !important;
                            color: #fff;
                        }
                        .more-btn{
                            border: 1px solid #949494 !important;
                            color: #fff;
                            &:hover{
                                background:  #8ab4f8;
                                color: #fff;
                                border: none !important;
                            }
                        }
                    }
                }
            }
        }
    }    
    //contact
    .Contact{
        .container{
            .contact-right{
                .contact-form{
                    border: 1px solid #949494 !important;
                    .info{
                        input{
                            border-bottom: 1px solid #949494 !important;
                        }
                        textarea{
                            border: 1px solid #949494 !important;
                        }
                    }
                    button{
                        border: 1px solid #949494 !important;
                        color: #fff;
                        &:hover{
                            background: #8ab4f8;
                        }
                    }
                }
                
            }
        }
    }    
    //cursor
    .custom-cursor{
        background: #8ab4f8 !important; 
    }
    .circle{
        background: #8ab4f8 !important; 
    }
    //QuickButton
    .QuickButton{
        .quick_top{
            background: #8ab4f8 !important;
        }
    }
}