@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
body{font-family: 'Yatra One', 'Nanum Myeongjo', serif;;}
*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}


.App{
    /* header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        box-sizing: border-box;
        position: fixed;
        h1{}
        ul{
            display: flex;
            li{
                a{margin-right: 4rem;}
            }
        }
    } */
    //Cover
    .Cover{
        background: #0D0D0D;
        width: 100%;
        height: 100vh;
        position: relative;
        .frame{
            width: 25%;
            height: 55%;
            background: #fff;
            position: absolute;
            top: 20%;
            left: 30%;
            .inner-box{
                width: 86%;
                height: 72%;
                background: #313C50;
                position: absolute;
                top: 6%;
                left: 7%;
                p{color: mediumspringgreen;}
            }
            h1{
                color: #B6B6B6;
                font-size: 100px;
                position: absolute;
                bottom: 15%;
                left: 51%;
                font-style: italic;
            }
        }
    }
    //
    .Cover2{
        width: 100%;
        height: 100vh;
        padding: 2rem;
        box-sizing: border-box;
        position: relative;
        .cover-container{
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            width: 100%;
            height: 100%;
        }
        h1{
            font-size: 150px;
            font-family: 'Noto-sans';
            border-bottom: 1px solid #000;
        }
        h2{
            font-size: 150px;
            font-family: 'Noto-sans';
            border-bottom: 1px solid #000;
        }
        .arrow-down{
            position: absolute;
            right: 0;
            bottom: 32px;
            font-size: 264px;
            border-left: 1px solid #000;
        }
        /* .veiwBox{
            .slideBox{
                animation: flowText 5s infinite;
                position: absolute;
                right: 0;
                .left-box,.right-box{
                    width: 100%;
                    height: 200px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    transform: rotate(90deg);
                    .slide-item{
                        text-align: center;
                        border-top: 1px solid #000;
                        border-bottom: 1px solid #000;
                        h4{
                            color: #000;
                            font-size: 100px;
                            font-weight: bold;
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        } */
    } 
    @keyframes flowText {
        0%{transform: translateY(0);}
        100%{transform: translateY(-50%);}
        
    }
    //about
    .about{
        width: 100%;
        height: 100vh;
        background: paleturquoise;
        color: #333; 
    }
    //project
    .project{
        width: 100%;
        height: 100vh;
    }
    //contact
    .contact{
        background: #0D0D0D;
        width: 100%;
        height: 100vh;

        color: #fff; 
        text-align: center; 
        font-size: 50px; 
        line-height: 969px;
    }
}